# Set default behavior to automatically normalize line endings to LF
* text=auto eol=lf

# Force specific file types to LF
*.py text eol=lf
*.js text eol=lf
*.ts text eol=lf
*.html text eol=lf
*.css text eol=lf
*.json text eol=lf
*.md text eol=lf
*.txt text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.toml text eol=lf
*.ini text eol=lf
*.cff text eol=lf
*.sql text eol=lf
*.sh text eol=lf
LICENSE text eol=lf
Dockerfile text eol=lf
.gitignore text eol=lf
.dockerignore text eol=lf

# Binary files
*.png binary
*.jpg binary
*.ico binary
*.pdf binary
*.tar.xz binary
*.zip binary
*.rar binary
*.out binary
